.friend0 {
	color: #a500ff;
	-fx-text-fill: #a500ff;
}
.friend1 {
	color: #ffa500;
	-fx-text-fill: #ffa500;
}
.friend2 {
	color: #59ff00;
	-fx-text-fill: #59ff00;
}
.friend3 {
	color: #0059ff;
	-fx-text-fill: #0059ff;
}
.friend4 {
	color: #aa632c;
	-fx-text-fill: #aa632c;
}
.friend5 {
	color: #f43d3d;
	-fx-text-fill: #f43d3d;
}
.friend6 {
	color: #3bc126;
	-fx-text-fill: #3bc126;
}
.friend7 {
	color: #26c1ad;
	-fx-text-fill: #26c1ad;
}
.friend8 {
	color: #26adc1;
	-fx-text-fill: #26adc1;
}
.friend9 {
	color: #10b71b;
	-fx-text-fill: #10b71b;
}
